<div class="content-form">
    <h3>Leave a comment</h3>
    <form>
        <input type="text" placeholder="Name" required />
        <input type="text" placeholder="Email" required />
        <textarea placeholder="Message"></textarea>
        <input type="submit" value="SEND" />
    </form>
</div>

