@using Vacation_Travel_Site.Models.Classes
@model List<Blog>

<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.BlogImage" alt="" />
            </div>
            <div class="bot-desc">
                <p>@item.Description.Substring(1,20)</p>
            </div>
            <div class="clear"></div>
        }
    </div>
</div>
