
<div class="right">
        <div class="bot-left">
            <img src="~/web/images/pic2.jpg" alt="" />
        </div>
        <div class="left-text">

            <h4>Lorem ipsum dolor sit amet, conte adipiscing elit dolor sit amet</h4>
            <span class="doller">$924.99</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo</p>
            <p><a href="#"><span class="read">Read More >></span></a></p>
        </div>
    </div>
