<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="#" class="w3-bar-item w3-button">Blogs</a>
        <a href="/Admin/CommentList" class="w3-bar-item w3-button">Comments</a>
        <a href="#" class="w3-bar-item w3-button">Contact</a>
        <a href="#" class="w3-bar-item w3-button">About</a>
        <a href="/Login/Logout/" class="w3-bar-item w3-button">Logout</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h3>Admin Panel</h3>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
